#sp_nmerry {
    max-width: 750px;
    margin: 0 auto;
    width: 100%;
}
#sp_nmerry h1 ,
#sp_nmerry h2 ,
#sp_nmerry p {
    margin: 0 auto;
    padding: 0;
}

#sp_nmerry img {
    width: auto;
    height: auto;
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* vertical-align: bottom; */
}
#sp_nmerry img.img-t {
    vertical-align: top;
}
#sp_nmerry .btn__box {
    position: relative;
}
#sp_nmerry .btn__item {
    box-sizing: border-box;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    padding: 2% 5.86666%;
    width: 100%;
}

#sp_nmerry .movie__box {
  position: relative;
}
#sp_nmerry .movie__item {
    position: absolute;
    bottom: 19%;
    left: 0;
    box-sizing: border-box;
    display: block;
    padding: 0 5.3333%;
    width: 100%;
}
#sp_nmerry .movie__size {
    position: relative;
    width: 100%;
    height: 0;
    overflow: hidden;
    display: block;
    padding-bottom: 56.417%;
}
#sp_nmerry .movie__item iframe, #nmerry .movie__item video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
/*-------------------------------*/
#sp_nmerry .size__acd {
    display: block;
    margin: 2.66% auto 6.66%;
}
#sp_nmerry .acd__btn {
    cursor: pointer;
    display: block;
    position: relative;
}

#sp_nmerry .acd__btn .acd__bal {
  display: block;
  position: absolute;
  top: -8%;
  right: 3%;
  width: 25%;
  z-index: 4;
  -webkit-animation-name: expand;
  -moz-animation-name: expand;
  -o-animation-name: expand;
  animation-name: expand;
  -webkit-animation-duration: 1.6s;
  -moz-animation-duration: 1.6s;
  -o-animation-duration: 1.6s;
  animation-duration: 1.6s;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  -o-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

#sp_nmerry .size__acd > .acd__btn:before {
    content: "";
    display: block;
    width: 5%;
    height: 0;
    padding-bottom: 7%;
    background:url(../img/SP/SP_09/acd_ar.png) no-repeat 50% 50%;
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
    position: absolute;
    top: 50%;
    right: 30%;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

#sp_nmerry .size__acd > .acd__btn[data-boxname="sp_size--m"]:before {
    content: "";
    top: 50%;
    right: 27%;
  }

#sp_nmerry .size__acd > .acd__btn--open:before {
    content: "";
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}